body {
  background: #333;
  color: #eee;
  font-family: 'Montserrat', sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

small {
  font-size: 0.6em;
  display: block;
}

a {
  color: #eee
}